@import url("reset.css");

:root {
    /* Colors */

    --color-grid-background: #000;
    --color-content-background: #111;

    /* Calculations */
}

body {
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: -2;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../images/bg_square.png);
        filter: opacity(50%);
        z-index: 0;
    }
}

h1 {
    padding: 1em;

    span {
        font-size: 14px;
        color: rgba(80,50,170,1);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto minmax(600px, 1080px) auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        'header-left header header-right'
        'nav nav nav'
        'left content right'
        'footer-left footer footer-right';
        background-color: var(--color-grid-background);
        min-height: 100vh;
}

.header-left {
    grid-area: header-left;
}

header {
    grid-area: header;
    color: white;
    z-index: 1;
}

.header-right {
    grid-area: header-right;
}

.nav {
    grid-area: nav;
    z-index: 1;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(#111, #222, #333);
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 10px;
}

li {
    float: left;
    border-right:1px solid #333;
}

li:last-child {
    border-right: none;
}

li a{
    display: block;
    color: #ffffff70;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background: linear-gradient(#333, #222, #111);
    color: white;
}

li a.active {
    background: linear-gradient(#333, #333);
    color: white;
}

.left {
    grid-area: left;
}

main {
    grid-area: content;
    position: relative;
    color: #aaa;
    z-index: 1;
    border-radius: 10px;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(-45deg, transparent 49%, #333 50%, transparent 51%);
        background-size: 5px 5px;
        border-radius: 10px;
        z-index: -1;
        opacity: 60%;
    }

    h2 {
        position: relative;
        color: #22ffc8;
        padding-bottom: 15px;


        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            z-index: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(#111, #333);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 15px;
            width: 100%;
            height: 3px;
            background: linear-gradient(#111, #333);
        }
    }

    .tab-content {
        padding: 20px 30px;

        p {
            padding-bottom: 20px;
        }
    }
}

.right {
    grid-area: right;
}

.footer-left {
    grid-area: footer-left;
}

footer {
    grid-area: footer;
    text-align: center;
    z-index: 1;
    padding: 20px;

    p {
        color: rgba(90,0,180,1);
    padding: 5px;
    }
}

.footer-right {
    grid-area: footer-right;
}

@media only screen and (max-width: 600px) {

    .grid-container {
        grid-template-columns: auto 100% auto;
    }

    nav {
        display: flex;
        flex-direction: column;

        ul li {
            width: 100%;
        }
    }
}