@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Roboto', sans-serif; */

/* to use variables: use var(--example-variable) */

:root {
    --example-variable: 666px;
}

* {
    text-decoration: none;
    
}

body {
    min-height: 100vh;
    background: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #eeeeee;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 30px;
    text-align: center;

    .area-new {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .button-new {
            position: relative;
            color: #eeeeee;
            background: linear-gradient(#330000, #110000, #330000);
            border-radius: 1em;
            padding: 20px 20px 20px 20px;

            &:hover {
                background: linear-gradient(#990000, #330000, #990000);
            }

            &::after {
                content: "";
                position: absolute;
                inset: -3px;
                border-radius: 1em;
                z-index: -1;
                background: linear-gradient(to right, #660000, #99000000, #660000);
            }
        }
    }

    .area-old {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .button-old {
            position: relative;
            color: #eeeeee;
            background: linear-gradient(#111111, #000000, #111111);
            border-radius: 15px;
            padding: 20px 20px 20px 20px;

            &:hover {
                background: linear-gradient(#333333, #000000, #333333);
            }

            &::after {
                content: "";
                position: absolute;
                inset: -3px;
                border-radius: 1em;
                z-index: -1;
                background: linear-gradient(to right, #333333, #99000000, #333333);
            }
        }
    }

    .button-new, .button-old {
        font-size: 14px;
        font-weight: bold;
    }

    img {
        width: 250px;
        height: auto;
        padding: 20px;
    }
}