@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Roboto', sans-serif; */

/* to use variables: use var(--example-variable) */

:root {
    --size-10px: 0.625rem;
    --size-14px: 0.875rem;
    --size-15px: 0.938rem;
    --size-16px: 1rem;
    --size-20px: 1.25rem;
    --size-24px: 1.5rem;
    --size-26px: 1.625rem;
    --size-200px: 12.5rem;

    --wrapper-size: 50rem;
}

body {
    min-height: 100vh;
    background: url(../images/bg.jpg) no-repeat;
    background: #000;
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #eeeeee;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#550000, #880000);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    padding: 0.625rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

    * {
        text-decoration: none;
    }
}

header .logo {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.625rem;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 0.938rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    color: #eee;
    display: block;
}

header .navbar ul li:hover > a {
    background: linear-gradient(#111, #333);
    color: #ffffff;
    border-radius: 0 1.25rem 0 1.25rem;
    box-shadow: 0 0 10px #00000050;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 12.5rem;
    background: linear-gradient(#111, #333);
    display: none;
    border-radius: 1.25rem;
    z-index: 2;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

header .navbar ul li ul li a {
    color: #eee;
}

header .navbar ul li ul li:hover > a{
    background: linear-gradient(#333, #111);
    color: #ffffff;
    border-radius: 0;
}

header .navbar ul li ul li:first-child:hover > a{
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

header .navbar ul li ul li:last-child:hover > a{
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

header .navbar ul li ul li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 12.5rem;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header .flag {
    img {
        outline: none;
        width: 1.625rem;
        opacity: 50%;
    }
        
    img:hover {
        opacity: 100%;
    }
}

header label {
    font-size: 20px;
    color: #eee;
    cursor: pointer;
    display: none;

    img {
        outline: none;
        width: 30px;
        filter: invert(100%);
        opacity: 60%;
    }

    img:hover {
        opacity: 100%;
    }
}

/* END OF NAV + START OF CONTENT */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    top: 63px;
    max-inline-size: var(--wrapper-size);
    margin-inline: auto;
    padding-inline: 1rem;
    padding-bottom: 100px;

    .back_button {
        display: flex;
        justify-content: center;

        button {
            cursor: pointer;
            color: #999;
            font-weight: bold;
            padding: 10px;
            background: linear-gradient(#222, #333);
            border-radius: 10px;
            border-color: #444;
        }

        button:hover {
            background: linear-gradient(#333, #444);
            border-color: #555;
        }
    }
    
}

.wrapper h1 {
    padding: 1.25rem 0.625rem 1.25rem 0.625rem;
    font-size: 1.25rem;

    &::before {
        left: 0;
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        margin-bottom: 7px;
        content: "";
        background: linear-gradient(to right, #444, #222);;
    }

    &::after {
        left: 0;
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        margin-top: 7px;
        content: "";
        background: linear-gradient(to right, #444, #222);;
    }
}

.wrapper > h2 {
    padding: 40px 10px 1.25rem 10px;
    text-align: center;
}

.wrapper p {
    padding: 0 10px 0 10px;
}

.wrapper section {
    position: relative;
    max-width: 100%;
    margin: 10px 0;
    padding: 1.25rem;
    display: flex;
    justify-content: left;
    gap: 10px;


    h2::before {
        position: relative;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        margin-bottom: 7px;
        content: "";
        background: linear-gradient(to right, #444, #222);
    }

    h2::after {
        position: relative;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 7px;
        content: "";
        background: linear-gradient(to right, #444, #222);;
    }

    .imgBox {
        max-width: 205px;
        flex: 0 0 205px;

        img {
            width: 100%;
            height: auto;
            max-width: 100%;
            outline: 1px solid white;
            outline-offset: -1px;
            border-radius: 10px;
        }
    }

    .imgBorderless {
        display: flex;
        justify-content: center;

        img {
            min-width: 12.5rem;
            height: auto;
            max-width: 100%;
        }
    }

    .textBox {
        width: 100%;
        padding-bottom: 10px;

        h2 {
            font-size: 18px;
            padding: 10px;
        }
            
        h3 {
            padding-left: 15px;
            padding-bottom: 15px;
        }
    
        ul {
            padding-left: 1.25rem;
            padding-bottom: 15px;

            li {
                margin-left: 12px;
            }
        }
    }

    .textBoxAlone {
        width: 100%;
        text-align: center;

        p {
            padding-bottom: 20px;
        }

        p::first-line {
            font-weight: bold;
            padding-bottom: 20px;
        }

        h2 {
            font-size: 18px;
            padding: 10px 0;
        }
            
        h3 {
            padding-bottom: 15px;
        }
    
        ul {
            padding-left: 20px;
            padding-bottom: 20px;
        }

        img {
            width: 30px;
            height: auto;
        }

        a {
            color: #ccc;
        }

        a:hover {
            color: #c5068a
        }

        .someLine {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

.bg-color-one {
    background: linear-gradient(#222, #111, #222);
    border-radius: 10px;
}

.bg-color-two {
    background: linear-gradient(#222, #111, #222);
    border-radius: 10px;
}

.bg-color-three {
    background: linear-gradient(#222, #111, #222);
    border-radius: 10px;
}

.photoGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;

    img {
        width: 165px;
        height: 165px;
        object-fit: cover;
        outline: 1px solid #fff;
        outline-offset: -1px;
        border-radius: 10px;
    }

    img:hover {
        filter: brightness(120%);
    }

    .photoArea {
        background: linear-gradient(#444 80%, #222, #000, #333);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        img {
            width: 165px;
            height: 165px;
            object-fit: cover;
            outline: 1px solid #666;
            outline-offset: -1px;
            border-radius: 10px;
        }

        img:hover {
            filter: brightness(120%);
        }

        p {
            padding: 5px 0;
            color: #ccc;
        }
    }   
}

.bottom-images img {
    padding: 20px;
}























footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#222, #333);
    color: #999;
    padding: 10px;
    font-size: small;


    p:first-child {
        font-size: 18px;
        font-weight: bold;
        color: #666;
    }
}

@media(max-width: 800px) {

    header {
        padding: 20px;
    }

    header .logo {
        font-size: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background: #000;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
        background: linear-gradient(#222, #111);
    }

    header .navbar ul li a {
        color: #ccc;
    }

    header .navbar ul li a:hover {
        border-radius: 0;
    }

    header .navbar ul li:hover > a {
        border-radius: 0;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #333;
    }

    header .navbar ul li ul li:first-child:hover > a{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    header .navbar ul li ul li:last-child:hover > a{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }

    .wrapper {
        top: 70px;
        max-inline-size: var(--wrapper-size);
        margin-inline: auto;
        padding-inline: none;
    }

    wrapper > h2 {
        font-size: 14px;
    }

    .wrapper section {
        flex-direction: column;

        .imgBox {
            max-width: 100%;
            margin-right: 0;
        }

        .textBox {
            margin: 10px 0 10px 0;

            p {
                padding-top: 10px;
            }
        }
    }

    .photoGallery {
        img {
            width: 140px;
            height: 140px;
        }

        .photoArea {

            img {
                width: 140px;
                height: 140px;
            }
        }
    }
}